.parallax { 
    /* The image used */
    background-image: url('/static/paul-carmona-393917-unsplash.jpg');
  
    /* Set a specific height */
    height: 300px; 
    color: white;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text {
    background-color: white;
    color: black;
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 20%;
    mix-blend-mode: screen; /* This makes the cutout text possible */
    transform: translate(0%, 40%);
  }
  
  .text2 {
      padding: 80px 0;
      
  }
  .clearfix {
    overflow: auto;
    height: 60px;
    transform: translate(0%, 40%);
  }

  
.color1{
      background-color: #0E3248;
      color: #fff;
    }
    
.color2{
        background-color: #E6507C;
        color: #fff;
    }
.color3{
        background-color: #55DABE;
        color: #fff;
    }
.color4{
        background-color: #4791C2;
        color: #fff;
    }
.color5{
      background-color: #f2c924;
      color: #fff;
  }